@using MVCproject.ViewModels
@model EditReservationViewModel

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="Id" />
    <div class="form-group">
        <label asp-for="DateOfReservation">Date of Reservation</label>
        <input asp-for="DateOfReservation" class="form-control" placeholder="Date of reservation">
        <span asp-validation-for="DateOfReservation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HowManyPeople">How many people</label>
        <input asp-for="HowManyPeople" class=" form-control" placeholder="HiredOn">
        <span asp-validation-for="HowManyPeople" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>