@model IEnumerable<Reservation>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="btn-group">
            <a asp-controller="Reservation" asp-action="Create"
               type="button" class="btn btn-sm btn-outline-secondary">Add Reservation</a>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Reservation at: @item.DateOfReservation</p>
                            <p class="card-text">For: @item.HowManyPeople people</p>
                        </div>
                        <div class="btn-group">
                            <a asp-controller="Reservation" asp-action="Edit" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-controller="Reservation" asp-action="Delete" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>