@model IEnumerable<Reservation>
<main class="main">
    <a class="button__emp" asp-controller="Reservation" asp-action="Create">Add reservation</a>
    <section class="section__reservation">
        @foreach (var item in Model)
        {
            <div class="container">
                <img class="container__image" src="/img/res.png" />
                <p class="paragraph__reservation">@item.DateOfReservation</p>
                <p class="paragraph__reservation">@item.HowManyPeople people</p>
                <div class="container__buttons">
                    <a class="container__button"
                   asp-controller="Reservation"
                   asp-action="Edit"
                   asp-route-id="@item.Id">Edit</a>
                    <a class="container__button container__button--second"
                   asp-controller="Reservation"
                   asp-action="Delete"
                   asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </section>
</main>