@using MVCproject.ViewModels
@model EditEmployeeViewModel

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="Id" />
    <div class="form-group">
        <label asp-for="HiredOn">HiredOn</label>
        <input asp-for="HiredOn" class=" form-control" placeholder="HiredOn">
        <span asp-validation-for="HiredOn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname">Surname</label>
        <input asp-for="Surname" class="form-control form-control-lg" placeholder="Surname">
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth">DateOfBirth</label>
        <input asp-for="DateOfBirth" class="form-control" placeholder="DateOfBirth">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactNumber">Contact Number</label>
        <input asp-for="ContactNumber" class="form-control" placeholder="ContactNumber">
        <span asp-validation-for="ContactNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>