@model IEnumerable<Order>

        <a asp-controller="Order" asp-action="PlaceOrder"
        type="button" class="button__emp">Place new order</a>

        <section class="section__employees">
            @foreach (var item in Model)
            {
                <div class="container">
                    <p class="container__paragraph">@item.Supplier</p>
                    <p class="container__paragraph">@item.IsPaid</p>
                    <p class="container__paragraph">@item.DateOfOrder</p>
                </div>
            }
        </section>