@using MVCproject.Data.Enum;
@using MVCproject.ViewModels;
@using MVCproject.Models
@model PlaceOrderViewModel

<main class="main">
    <section class="section__form">
        <div class="container__content">
            <div class="order__image"></div>
            <div class="emp__description">
                <p class="container__paragraph">Place Order</p>
            </div>
        </div>
        <form method="post" asp-action="PlaceOrder" enctype="multipart/form-data">
            <div class="container__form">
                <div class="form__tile">
                    <label asp-for="Supplier">Supplier</label>
                    <select asp-for="Supplier" asp-items="@Html.GetEnumSelectList<Suppliers>()" class="form-control form-control-lg">
                    <option>--Select--</option>
                    </select>
                    <span asp-validation-for="Supplier" class="text-danger"></span>
                </div>
                <div class="form__tile">
                    <label class="form__label" asp-for="Quantity">Quantity</label>
                    <input asp-for="Quantity" class="form__input" placeholder="Quantity" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form__tile">
                    <label asp-for="ProductsList">Category</label>
                    <select asp-for="ProductsList" asp-items="@Html.GetEnumSelectList<Products>()" class="form-control form-control-lg">
                    <option>--Select--</option>
                    </select>
                    <span asp-validation-for="ProductsList" class="text-danger"></span>
                </div>
                <button type="submit" class="form__sumbit">Submit</button>
            </div>
        </form>
    </section>
</main>
