@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Account confirmed";
}

<h1>@ViewData["Title"]</h1>
  <main class="main">
            <section class="section__register__confirm">
                <p class="paragraph__confirm">
                    Account confirmed
                </p>
            </section>
        </main>