@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<main class="main">
    <section class="section__register">
        <form id="account" method="post">
            <div class="container__register">
            <h2 class="register__header">Use a local account to log in.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form__tile">
                <input asp-for="Input.Email" class="form__input__register" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form__label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form__tile">
                <input asp-for="Input.Password" class="form__input__register" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form__label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
            </div>
            <div>
                <button id="login-submit" type="submit" class="form__sumbit">Log in</button>
            </div>
            </div>
        </form>
    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
